<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>林若傑簡介</title>
</head>
<body>
<table width="70%">
		<tr>
			<td>
				<img src="static/cliff.jpg" width="110%"></img>
			</td>

			<td>

	<h1>林若傑</h1>
	<h2>Jo-Chieh Lin</h2> 
			</td>
		</tr>
</table>
<table width="70%" border="1">
		<tr>
			<td>

	個人網頁：<a href="https://www.pu.edu.tw/">https://www.pu.edu.tw/</a><br>
	IG：<a href="https://www.instagram.com/linrowjay/"target="_blank"> linrowjay	</a><br>
	Tel: <a href="tel:0426328001,18110"> 04-26328001#18110</a><br>
	E-Mail:<a href="mailto:a41135213@yahoo.com.tw"> a41135213@yahoo.com.tw</a><br>
	dialogflow:<a href="https://bot.dialogflow.com/c6d30911-6d41-4eb5-8f95-99a86e69ea49">https://bot.dialogflow.com/c6d30911-6d41-4eb5-8f95-99a86e69ea49</a><br>
				</td>

			<td>

大象席地而坐電影配樂<br>
	<audio controls>
		<source src="static/elephant.mp3" type="audio/mP3">
	</audio><br>
			</td>

			<td>

	不要去臺灣<br>
	<iframe src="https://www.youtube.com/embed/pW88QFpHXa8" allowfullscreen></iframe>
			</td>
		</tr>
</table>		

</body>
</html>